input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-basic{
    font-family: "Droid Sans Mono", "Helvetica Neue", Helvetica, Arial, sans-serif!Important;
    margin: 0 auto;
    box-sizing: border-box;
    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: 10px monospace;
}

.form-basic input{
    overflow: hidden;
}
.half-row{
    text-align: left;
    margin-bottom: 10px;
}

.full-row{
    text-align: left;
    margin-bottom: 12px;
}

.half-row > label span{
    width: 16%;
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    text-align: right;
    vertical-align: top;
    padding: 12px 10px 12px 0px;
    font: bold 14px sans-serif;
}

.half-row input{
    width: 31%;
    color:  #5f5f5f;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #dbdbdb;
    padding: 6px 10px;
}

.full-row > label span{
    width:16%;
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    text-align: right!Important;
    vertical-align: top;
    padding: 12px 10px 12px 0px;
    font: bold 14px sans-serif;
}

.full-row{
    text-align: left;
    margin-bottom: 12px;
}

.full-row input{
    width: 80%;
    color:  #5f5f5f;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #dbdbdb;
    padding: 6px 10px;
    overflow-x:hidden; 
}

.full-row input.no-label{
   font: bold 14px sans-serif;
   width: 96%;
}

.tx > label span{
    width:16%;
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    text-align: right!Important;
    vertical-align: top;
    padding: 12px 10px 12px 0px;
    font: bold 14px sans-serif;
}

.tx {
    font-family: "Droid Sans Mono", "Helvetica Neue", Helvetica, Arial, sans-serif!Important;
    text-align: left;
    margin-bottom: 12px;
}

.tx input{
    padding: 0;
    margin: 0;
    border: 0;
    width: 80%;
    color:  #5f5f5f;
}

/* overwrite default CSS for tiny, dark tags */
#owner+.tag-editor { background: #fafafa; font-size: 12px; }
#owner+.tag-editor .tag-editor-tag { color: #fff; background: #555; border-radius: 2px; }
#owner+.tag-editor .tag-editor-spacer { width: 7px; }
#owner+.tag-editor .tag-editor-delete { display: none; }

/* overwrite default CSS for tiny, dark tags */
#users+.tag-editor { background: #fafafa; font-size: 12px; }
#users+.tag-editor .tag-editor-tag { color: #fff; background: #555; border-radius: 0px; }
#users+.tag-editor .tag-editor-spacer { width: 7px; }
#users+.tag-editor .tag-editor-delete { display: none; }
