html { margin: 0px !important;}

body {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0 auto;
  color: #BDBDBD;
  font-size: 10px;
  background: #C9CFCD url(background.gif);
  overflow: hidden;
  
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;

  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.header {
/*  background-image: url("/img/jira-logo-scaled.png"); */
  background-repeat: no-repeat;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.card {border:1px solid #ccc}
.card-2 {box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important}
.card-4 {box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important}

.glass {
  
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
 
  display: block;
  margin: 0 auto;
  padding:1em;
  
  border:1px solid rgba(0,0,0,0.5);
  border-radius:10px 10px 10px 10px;

  -webkit-box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

  -moz-box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

  box-shadow:
    0 2px 6px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);
    
  background:rgba(0,0,0,0.75);
  
}

.todo{color:#f44336 !important}.on-todo{color:#fff !important;background-color:#f44336 !important}.todo-wall{padding-top:1%;padding-left:3%;border:dotted;background:#f44336 url("/img/background.gif")!important }
.test{color:#ff9800 !important}.on-test{color:#fff !important;background-color:#ff9800 !important}.test-wall{padding-top:1%;padding-left:3%;border:dotted;background:#ff9800 url("/img/background.gif")!important}
.done{color:#4caf50 !important}.on-done{color:#fff !important;background-color:#4caf50 !important}.done-wall{padding-top:1%;padding-left:3%;border:dotted;background:#4caf50 url("/img/background.gif")!important}

/* countdown */
#timer {
    font-size: 20px;
    font-family: "moonhouse","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 1em;
}

.timer_box{
    display: inline-block;
    padding: 10px 6px 0px 6px;
    text-align: center;
    width: 70px;
    border: 4px solid rgba(255, 255, 255, .6);
    color:yellow;
    border-radius: 50%;
}
.timer_box h1{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    color:yellow;
}

.timer_box p{margin-top: 0px; font-size: 10px; font-family: "Lato"; color: white;}

.label {
    display:inline-block;
    padding-top:0px;
    padding-bottom: 0px;
}
.inline { float:left; }

.vertical {
    padding-top:8px;    
    display: table-cell;
    vertical-align:middle;
    width:1em;
}
.boxed {
    float: left;
    width: 80px;
    display: grid!Important;
    overflow:hidden;
}

.parent {
    cursor: pointer;
}

.rotated {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  font-size: 18px;
  position: absolute;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 58%; /* Could be more or less, depending on screen size */
}

.wrapper {
    position: relative;
}

.tab {
   position: absolute;
   -webkit-transform-origin: 100% 0;
      -moz-transform-origin: 100% 0;
        -o-transform-origin: 100% 0;
           transform-origin: 100% 0;
   -webkit-transform: translate(-100%, 0) rotate(-90deg);
      -moz-transform: translate(-100%, 0) rotate(-90deg);
        -o-transform: translate(-100%, 0) rotate(-90deg);
           transform: translate(-100%, 0) rotate(-90deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#login-buttons a, .accounts-dialog a {
    cursor: pointer;
    text-decoration: none!Important;
}

#dialog { 
  background: aliceblue;
  z-index: 99;
};

.btn:active {
  position: relative;
  top: 1px;
}

.menu{
  position:absolute;
  left:20px;
  top:35%;
  width:128px;
  height:128px;
  font-size:128px;
  overflow: hidden;
  z-index:10000;
  opacity:0.75;
}

.panel{
  height: 100%;
  width: 100%;
  min-height:640px;
  overflow:hidden;
}
