<head>
  <title>om</title>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  {{> page }}
</body>

<template name='page'>

  {{> scripts }}

  {{> header }}

  {{> main }}

</template>

<!-- Header -->
<template name='header'>
{{#if currentUser }}
<div class="header row on-graphite margin-0">
  <div class="col-6">
    <!-- some logo FIXME! -->
    <a href="/" class="left on-graphite round padded btn">&nbsp;&nbsp;om<i class="xlarge green fa fa-bug"></i>rag</a>
    <!-- some logo FIXME! -->
    <!-- filters/menu -->
    <select id="project" class="col-2 white on-graphite">
      {{#each project}}
        <option value="{{ @index }}">{{this}}</option>
      {{/each}}
    </select>
    <select id="label" class="col-2 white on-graphite">
      {{#each labels}}
        <option value="{{ @index }}">{{this}}</option>
      {{/each}}
    </select>
    <select id="view" class="col-2 white on-graphite">
      {{#each view}}
        <option value="{{ @index }}">{{this}}</option>
      {{/each}}
    </select>
    <select id="type" class="col-2 white on-graphite">
      {{#each type}}
        <option value="{{ @index }}">{{this}}</option>
      {{/each}}
    </select>
    <!-- filters/menu -->
  </div>

  <!-- space for rent -->  
  <div id="scoreDoors" class="col-3 large blue center padded">{{> message }}</div> <!-- {{ scoresDoors }}% -->

  <!-- application menu -->
  <div class="col-3 large blue center">
    <div class='right white on-graphite circle padded logout btn'>
      <i class="large fa fa-power-off"></i>
    </div>
    <div class='right white on-graphite circle padded import btn'>
      <i class="large fa fa-folder-open-o"></i>
    </div>
    <div class='right aqua on-graphite circle padded settings btn'>
      <i class="large fa fa-wrench"></i>
    </div>  
    <div class='right light-green on-graphite circle padded addItem btn'>
      <i class="large fa fa-plus"></i>
    </div>  
    <div class='right amber on-graphite circle padded editItem btn'>
      <i class="large fa fa-edit"></i>
    </div>  
  </div>
</div>
<!-- RAG -->
<div class="row on-graphite no-margin">
  <div class="col-4">
    <div class="col-2 kern-left">
      <span class="xxlarge red inline label no-padding">{{ todoCount }}</span>
      <span class="nano wide white vertical inline label kern-left">TODO</span>
    </div>
    {{#with parent}}
    <div class="col-9">
      <div class="padded">
        {{#if equals status "todo" }}
        <div id="{{ id }}" class="parent row">
          <span class='large inline label kern-right'>{{ title }}</span>
          <span class='padded inline label'>{{ name }}</span>
        </div>
        {{/if}}
      </div>
    </div>
    {{/with}}
  </div>
  <div class="col-4">
    <div class="col-2 kern-left">
      <span class="xxlarge yellow inline label no-padding">{{ testCount }}</span>
      <span class="nano wide white vertical inline label kern-left">TEST</span>
    </div>
    {{#with parent}}
    <div class="col-9">
      <div class="padded">
        {{#if equals status "test" }}
        <div id="{{ id }}" class="row parent">
          <span class='large padded inline label kern-right'>{{ title }}</span>
          <span>{{ name }}</span>
        </div>
        {{/if}}
      </div>
    </div>
    {{/with}}
  </div>
  <div class="col-4">
    <div class="col-2 kern-left">
      <span class="xxlarge green inline label no-padding">{{ doneCount }}</span>
      <span class="nano wide white vertical inline label kern-left">DONE</span>
    </div>
    {{#with parent}}
    <div class="col-9">
      <div class="padded">
        {{#if equals status "done" }}
        <div id="{{ parent.id }}" class="row parent">
          <span class='large padded inline label kern-right'>{{ title }}</span>
          <span>{{ name }}</span>
        </div>
        {{/if}}
      </div>
    </div>
    {{/with}}
  </div>
</div>
{{ else }}
<!-- HELLO -->
<div class="row on-graphite no-margin padded">
  <div class='large on-graphite padded login right'>
    {{> loginButtons align="right" }}
  </div>
</div>
{{/if}}

</template>

<template name='scripts'>
<script>
</script>
</template>

<template name='main'>
{{> modal }}

{{#if currentUser}}
<div class="panel">  
  <div id="todo" class="lane col-4 todo-wall draggable">
    {{#each todoItems}}
      {{> card }}
    {{/each}}
  </div>
  <div id="test" class="lane col-4 test-wall draggable">
    {{#each testItems}}
      {{> card }}
    {{/each}}
  </div>
  <div id="done" class="lane col-4 done-wall draggable">
    {{#each doneItems}}
      {{> card }}
    {{/each}}
  </div>
</div>
{{else}}
<div class='huge white padded banner center'>
  <i class="huge blue-grey fa fa-bug"></i>OMRAG
  <div class="medium">Welcome, sign in to see.</div>
</div>
{{/if}}
<br>
<i class="blue-grey fa fa-arrow-circle-o-left menu"></i>
</template>

<template name='card'>
<div class="col-3 card card-4 on-white margin-4">
  <div id="{{ _id }}" class="droppable">
    <div class="tiny white on-{{ status }} padded-small">☰ {{ title }}
      <i class="fa fa-bug {{ state }} on-blue-grey small right circle"></i>
    </div>    
    <div class="tiny on-white padded">{{ name }}</div>    
    <hr>
    {{#if isParent true }}<hr>{{/if}}
  </div>
</div>
</template>

<template name="modal">
{{#if activeModal}}
<div class="modal">
  {{> Template.dynamic template=activeModal}}
</div>
{{/if}}
</template>

<template name="settings">  
{{#with currentSettings }}
<div class="graphite on-white modal-content">
  <form class="form-basic">
    <div class="form-row">
        <label>
            <textarea name="textarea">{{ name }}</textarea>
        </label>
    </div>
    <div class="form-row">
      <label>
        <span>Project</span>
        <input type="text" name="project" value="{{ project }}">
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>Type</span>
        <input type="text" name="type" value="{{ type }}">
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>Status</span>
        <input type="text" name="status" value="{{ status }}">
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>State</span>
        <input type="text" name="state" value="{{ state }}">
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>Labels</span>
        <input type="text" name="labels" value="{{ labels }}">
      </label>
    </div>
    <div class="form-row">
      <label>
        <span>Comments</span>
        <input type="text" name="comments" value="{{ comments }}">
      </label>
    </div>
    <div class="form-row">
      <span class="small red padded left">🂾</span>
    </div>

    <div class='right padded btn'>
      <i class="large fa fa-close close"></i>
    </div>

    <div class="small red on-white padded-bottom right btn">🂾</div>
  </form>
</div>
{{/with}}
</template>

<template name="addItem">
{{#with newItem }}
<div class="large graphite modal-content no-padding">
  <div class="wrapper no-padding">
    <div class="on-{{ status }} rotated left padded tab">{{ title }}</div>
    <div class="row padded-top padded-48-left">
      <form class="form-basic">
        
        <div class="half-row">
            <label for="title"><span>Title</span><input type="text" id="title" name="title" class="validate on-{{ status }}" value="{{ title }}" required></label>
        </div>

        <div class="full-row">
          <input id="name" type="text" name="name" class="validate medium light no-label no-border" value="{{ name }}"/>
        </div>

        <div class="full-row">
          <label for="description"><span>Details</span><input id="description" type="text" name="description" class="validate" value="{{ description }}"></label>
        </div>
        
        <div class="half-row">
          <label for="project"><span>Project</span><input type="text" name="project" value="{{ project }}" required></label>
          <label for="type"><span>Type</span><input id="type" type="text" name="type" class="validate" value="{{ type }}" required></label>
        </div>

        <div class="half-row">
          <label for="status"><span>Status</span><input id="status" type="text" name="status" class="validate" value="{{ status }}" required></label>
          <label for="state"><span>State</span><input id="state" type="text" name="state" class="validate" value="{{ state }}" required></label>
        </div>
        
        <div class="half-row">
          <label for="due"><span>Due</span><input id="due" type="date" name="due" class="validate" value="{{ due }}"></label>
          <label for="estimate"><span>Estimate</span><input id="estimate" type="number" name="estimate" class="validate" value="{{ estimate }}" min=0></label>
        </div>

        <div class="half-row">
          <label for="effort"><span>Effort</span><input id="effort" type="number" name="effort" class="validate" value="{{ effort }}" min=0></label>
          <label for="score"><span>Score</span><input id="score" type="number" name="score" class="validate" value={{ score }} min=0 max=5></label>
        </div>
        
        <div class="full-row">
          <div class="col-2"><label for="owner"><span>Owner</span></label></div><div class="col-10"><input id="owner" type="text" name="owner" class="validate left" value="{{ owner }}"></div>
        </div>
        
        <div class="full-row">
          <label for="users"><span>Assigned</span><input id="users" type="text" name="users" class="validate left" value="{{ users }}"></label>
        </div>

        <div class="half-row">
          <label for="created"><span>Created</span><input id="created" type="date" name="created" class="validate" value="{{ created }}"></label>
          <label for="rank"><span>Rank</span><input id="rank" type="number" name="rank" class="validate" value="{{ rank }}" min=0></label>
        </div>
        
        <div class="full-row">
          <label for="labels"><span>Labels</span><input id="labels" type="text" name="labels" class="validate" value="{{ labels }}"></label>
        </div>

        <div class="full-row">
          <label for="comments"><span>Comments</span><input id="comments" type="text" name="comments" class="validate" value="{{ comments }}"></label>
        </div>

        <div class="full-row">
          <hr>
        </div> 
                
        {{> message }} 

        <div class='small padded-bottom right'>
          <i class="large fa fa-close graphite on-white circle close btn"></i>
        </div>

        <div class='small padded-bottom right'>
          <i class="large fa fa-trash-o red on-white circle remove btn"></i>
        </div>
        
        <div class='small padded-bottom right'>
          <i class="large fa fa-camera amber on-white circle snaphot btn"></i>
        </div>

      </form>    
    </div>
  </div>
</div>
{{/with}}
</template>

<template name="editItem">
{{#with currentItem }}
<div class="large graphite modal-content no-padding">
  <div class="wrapper no-padding">
    <div class="on-{{ status }} rotated left padded tab">{{ title }}</div>
    <div class="row padded-top padded-48-left">
      <form class="form-basic small">
        
        <div class="full-row">
          <input id="name" type="text" name="name" class="validate medium light no-label no-border" value="{{ name }}" required />
          <label for="description"><span>Details</span><input id="description" type="text" name="description" class="validate" value="{{ description }}" required /></label>          
        </div>
                
        <div class="half-row">
          <label for="project"><span>Project</span><input type="text" name="project" class="validate" value="{{ project }}" required></label>
          <label for="type"><span>Type</span><input id="type" type="text" name="type" class="validate" value="{{ type }}" required></label>
          <label for="status"><span>Status</span><input id="status" type="text" name="status" class="validate" value="{{ status }}" required></label>
          <label for="state"><span>State</span><input id="state" type="text" name="state" class="validate" value="{{ state }}" required></label>
          <label for="due"><span>Due</span><input id="due" type="date" name="due" class="validate" value="{{ due }}"></label>
          <label for="estimate"><span>Estimate</span><input id="estimate" type="number" name="estimate" class="validate" value="{{ estimate }}" min=0></label>
          <label for="effort"><span>Effort</span><input id="effort" type="number" name="effort" class="validate" value="{{ effort }}" min=0></label>
          <label for="score"><span>Score</span><input id="score" type="number" name="score" class="validate" value={{ score }} min=0 max=5></label>
        </div>
                
        <div class="tx">
          <label for="users"><span class="left">Assigned</span><input id="users" type="text" name="users" value="{{ users }}"></label>
        </div>

        <div class="tx">
          <label for="owner"><span class="left">Owner</span><input id="owner" type="text" name="owner" class="left" value="{{ owner }}"></label>
        </div>
        
        <div class="half-row">
          <label for="created"><span>Created</span><input id="created" type="date" name="created" class="validate" value="{{ created }}"></label>
          <label for="rank"><span>Rank</span><input id="rank" type="number" name="rank" class="validate" value="{{ rank }}" min=0></label>
        </div>
        
        <div class="full-row">
          <label for="labels"><span>Labels</span><input id="labels" type="text" name="labels" class="validate" value="{{ labels }}"></label>
          <label for="comments"><span>Comments</span><input id="comments" type="text" name="comments" class="validate" value="{{ comments }}"></label>
        </div>

        <div class="full-row">
          <hr>
        </div> 
        
        {{> message }} 

        <div class='small padded-bottom right'>
          <i class="large fa fa-close graphite on-white circle close btn"></i>
        </div>

        <div class='small red padded-bottom right'>
          <i class="large fa fa-trash-o red on-white circle remove btn"></i>
        </div>
        
      </form>    
    </div>
  </div>
</div>
{{/with}}
</template>

<!-- Message line -->
<template name='message'>
  {{#with message}}
  <span id="message" class="{{ class }}">{{ body }}</span>
  {{/with}}
</template>

<!-- Footer -->
<template name='footer'>
<footer class="dark">
  <div class='aqua'>&copy; 2016 Anodyne Solutions Ltd.</div>
</footer>
</template>
